<head>
  <!-- Page Title -->
  {% if page.title %}
    <title>{{ page.title}} | Learn Enough to Be Dangerous</title>
    <meta property="og:title" content="{{ page.title }} | Learn Enough to Be Dangerous">
  {% else %}
    <title>Test Page: Don't Panic</title>
    <meta property="og:title" content="Test Page: Don't Panic">
  {% endif %}

  <!-- Page Meta Tags -->
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="This is a dangerous site.">
    <meta property="og:description" content="This is a dangerous site.">
  {% endif %}

  <!-- Open Graph Meta Image -->
  <meta property="og:image" content="/apple-touch-icon.png" />

  <!-- Page Icons -->
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">

  <!-- Page Format -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Font Families -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100&display=swap" rel="stylesheet">

  <!-- Font Awesome Families -->
  <link rel="stylesheet" type="text/css" href="/fonts/fontawesome-free-6.2.1-web/css/all.css">

  <!-- Main.css -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>